<div class="loading-screen-logo">
    <div class="logo-icon">
        <img src="https://cdn-icons-png.flaticon.com/512/3621/3621435.png" alt="Instagram">
    </div>
    <div class="space"></div>
    <div class="logo-text">
        <p>from</p>
        <img src="https://branditechture.agency/wp-content/uploads/2021/11/Instagram-Meta-Gradient-Logo-SVG-1.svg" alt="">
    </div>
</div>